@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Nanum+Myeongjo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import url("hover-min.css");

header {
    margin: 0;}



.parallax {
  /* The image used */
  background-image: url("https://b6df25af-8efb-49f5-b898-7ab67fa8a152.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/IMG_0890.JPG");

  /* Set a specific height */
  height: 800px;
  width:  100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax1 {
  /* The image used */
  background-image: url("https://b6df25af-8efb-49f5-b898-7ab67fa8a152.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/friends.jpg");

  /* Set a specific height */
  height: 600px;
  width:  100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
 background-position: center;
  background-repeat: no-repeat;
 background-size: cover;
}


.parallax2 {
  /* The image used */
  background-image: url("https://b6df25af-8efb-49f5-b898-7ab67fa8a152.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/henry.jpg");

  /* Set a specific height */
  height: 620px;
  width:  100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
 background-position: center;
  background-repeat: no-repeat;
 background-size: contain;
}


.img-fluid {
    max-width: 100%;
    height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#animalsheader {
    background-image: url("https://f6b3a451-dbf4-4b5b-a9f5-89edecd71683.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/IMG_0890.JPG");
  max-width: 100%;
    height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
/*padding-bottom: 15%;*/

}


#personalheader {
   background-image: url("https://b6df25af-8efb-49f5-b898-7ab67fa8a152.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/babyseyes.jpg");
  max-width: 100%;
    height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;}



#commheader {
    background-image: url("https://b6df25af-8efb-49f5-b898-7ab67fa8a152.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/converse%20%282%29.jpg");
  max-width: 100%;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: cover;
}


#printsheader {
  background-image: url("https://b6df25af-8efb-49f5-b898-7ab67fa8a152.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/j12.jpg");
  max-width: 100%;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#galleryheader {
 background-image: url("https://b6df25af-8efb-49f5-b898-7ab67fa8a152.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/IMG_2389.JPG");
  max-width: 100%;
  height: 480px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#aboutusheader {
 background-image: url("https://d773eae8-4504-48b9-89f1-6030b92795f1.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/rayban.jpg");
  max-width: 100%;
  height: 480px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headsdivaboutus {
   float: center;
  max-width: 100%;
  height: 480px;
    background-color: rgba(255, 145, 2, 0.315);
        text-align: left;
        display: contain;  
}

.headsdiv{
   float: center;
  max-width: 100%;
  height: 420px;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: left;
        display: contain;
       /* padding-bottom: 15%;*/
}


#headingpersonal {
font-family: 'Nanum Myeongjo', serif;
font-weight: 400;
font-size: 20px;
color: #777777;
padding: 5%;
}


.containerpersonal {
width: 100%;
padding: 4%;
padding-bottom: 20%;
}




.carousel-caption {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    color: white;
    font-size: 28px;
    text-align: center;
}







.compara {
 font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    color: #777777;
    font-size: 20px;
    text-align: center;
    padding: 10%;

}



head1 {font-family: "cinzel decorative";
color: black;
/*margin-left: 3%;*/
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}





h1 {font-family: "cinzel decorative";
color: white;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 7s;
transition-timing-function: ease-in;
animation-fill-mode: both;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}



#overlay {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  transition: .8s ease-in;
  opacity:1;
  color: white;
  font-size: 46px;
  padding: 20px;
  float: left;
  height: 500px;
}

#overlay2 {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  transition: .8s ease-in;
  opacity:1;
  color: white;
  font-size: 46px;
  padding: 20px;
  float: left;
  height: 400px;
}

#overlayprints {
 position: absolute; 
  bottom: 0; 
  width: 100%;
  transition: .8s ease-in;
  opacity:1;
  color: white;
  font-size: 44px;
  padding: 20px;
  margin-left: 4px;
  float: left;
  height: 400px;
}



#overlay3 {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  transition: .8s ease-in;
  opacity:1;
  color: white;
  font-size: 42px;
  float: left;
  height: 550px;
  margin-left: 1%;
}

#overlay4 {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  transition: .8s ease-in;
  opacity:1;
  color: white;
  font-size: 46px;
  padding: 20px;
  float: left;
  height: 658px;
}





head2 {font-family: "cinzel decorative";
color: white;
/*margin-left: 3%;*/
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
} 


.headsdiv1{
   float: center;
  max-width: 100%;
  height: 420px;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: left;
        display: cover;
       /* padding-bottom: 15%;*/
}



@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}





h {font-family: "cinzel decorative";
color: black;
margin-left: 3%;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


/*
.ouraimp {
    font-family: 'Nanum Myeongjo', serif;
    color: black;
    padding: 8%;
}
*/
/*
.ouraimp {
  /* The image used */
  background-image: url("https://f6b3a451-dbf4-4b5b-a9f5-89edecd71683.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/bamboo.jpg");

  /* Full height */
  height: 1000px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ouraimbg {
  background-repeat: repeat-y;
  background-size: cover;
}

.row justify-content-center {
    padding-bottom: 40%;
}

.text-block {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
    color: black;
    padding: 4%;
    text-align: center;
}

.col-6-text-box {
   background-color: rgba(177, 247, 190, 0.932); 
   max-width: 50%;
   max-height: 80%;
   animation-name: fadeInUp;
 animation-delay: 1s;
 animation-duration: 5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


#overlayaboutusp {
 position: absolute; 
  width: 100%;
  font-family: 'Nanum Myeongjo', serif;
font-weight: 400;
font-size: 16px;
color: white; 
text-align: center;
  opacity:1;
  padding-top: 10%;
  padding-right: 50%;
  padding-left:5%;
  margin-bottom: 0;
  float: left;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
}

.aboutusp{
font-family: 'Nanum Myeongjo', serif;
font-weight: 200;
font-size: 18px;
color: #777777;
text-align: center;
padding-left: 15%;
padding-right:15%;
padding-top:10%;
padding-bottom: 4%;

}



#aboutsusbottomdiv {
 background-image: url("https://d773eae8-4504-48b9-89f1-6030b92795f1.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/rainforestandme.jpg");
  max-width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
}




.container-aboutus {
width: 60%;
padding: 2%;
}

.col-sm-aboutus{
width: 65%;
padding: 2%;
}

.commpara {
font-family: 'Nanum Myeongjo', serif;
font-weight:200;
font-size: 30px;
color: white;
text-align: center;
padding: 30%;
padding-top: 10%;
}


.personalpara {
font-family: 'Nanum Myeongjo', serif;
font-weight: 400;
color: #777777;
text-align: center;
}


h2 {font-family: "cinzel decorative";
color: black;
margin-left: 9%;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

h3 {font-family: "cinzel decorative";
color: black;
margin-left: 8%;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


/* Navbar */

.navbar {
position: fixed;
}

.navbar-expand-lg {
/*padding-right: 10%;*/
width: 100%;
position: fixed;
/*overflow: hidden;*/
background-color: rgba #fafafa;
}



.nav-link {
font-family: 'Nanum Myeongjo', serif;
font-weight: 800;
text-decoration: none;
float: right;
font-size: 15px;
letter-spacing: 3px;
}



/* Home Heading */


div h4{
    padding-top: 5%;
}

div p {
font-family: 'Nanum Myeongjo', serif;
color: black;
font-size: 18px;
text-align: center;
width: 100%;
float: center;
padding-top: 10px;
}




/*Home page Gallery Navigation */

.container-fluid {
   width: 100%;
}

.container-fluid p {
font-family: 'Nanum Myeongjo', serif;
font-size: 16px;
padding: 4%;
float: left 25%;
text-align: center;}


.container-fluid h4 {
    padding-top: 10%;
    float: right 30%;}
    

.col-sm{
    width: 100%;
    padding: 5%;
    margin: 0;
}

.carousel-item active{
   height: 700px; 
}

.carousel-item {
height: 700px;

}

.container-fluid-commercial {
    padding: 10%;
}


h4 {font-family: "cinzel decorative";
color: black;
text-align: center;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
transition-timing-function: ease-in;
animation-fill-mode: both;
text-decoration: none;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.printsheading {
font-family: "cinzel decorative";
color: black;
text-align: center;
padding-top: 4%;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
transition-timing-function: ease-in;
animation-fill-mode: both;
text-decoration: none;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

}





h42 {
font-family: 'Nanum Myeongjo', serif;
font-weight: 600;
font-style: italic;
font-size: 30px;
padding: 4%;
color: #777777;
text-align: center;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
transition-timing-function: ease-in;
animation-fill-mode: both;
text-decoration: none;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}



.text-block42{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}




/* animation for photos on home page*/



.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 15px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}



form  {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
    padding-top: 10%;
padding-bottom: 15%;
padding-left: 10%;
padding-right: 10%;
color: #777777;
}




.form-row {
    padding-top: 5%;
    padding-bottom: 5%;
}



btn-primary {
 font-family: 'Nanum Myeongjo', serif;
 font-weight: 600;
padding: 2%;
}




* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



#p-1 {
font-family: 'Nanum Myeongjo', serif;
font-size: 18px;
color: #777777;

}


#p-2 {
font-family: 'Nanum Myeongjo', serif;
font-size: 18px;
color: #777777;

}

#p-3 {
font-family: 'Nanum Myeongjo', serif;
font-size: 18px;
color: #777777;

}

#p-4 {
font-family: 'Nanum Myeongjo', serif;
font-size: 18px;
color: #777777;

}

.printsp {
font-family: 'Nanum Myeongjo', serif;
font-size: 16px;
color: #777777;
text-align: center;
float: center;
}

#footer {
        background-image: url("https://d773eae8-4504-48b9-89f1-6030b92795f1.ws-eu01.gitpod.io/mini-browser/workspace/Romero-First-Website/assets/imgs/cornwall.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        margin: 0, 0, 0, 0;}
       

.col-sm{
   float: center;
  max-width: 100%;
  height: auto;
 color: #fafafa;
        margin: 2px;
        text-align: center;
        display: cover;
        padding: 0, 0, 0, 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;}

.row no-gutters:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-sm {
    width: 100%;
  }
}

#footer h5 {
font-family: cinzel;
font-size: 28px;
padding-top: 20px;
/*padding-bottom: 20px;*/
}

#footer p {
font-family: 'Nanum Myeongjo', serif;
font-size: 18px;
color: white;
text-align: center;
text-decoration: none;
}

#footer a{
    text-decoration: none;
}


#footer div {
        color: #fafafa;
        background-color: rgba(0, 0, 0, 0.274);
        text-decoration: none;
      /*  width: 33%;*/
       /* height: 400px;*/
       /* display: cover;
       /* padding: 40px 30px 0 50px;*/
       /* text-align: center;
       /* float: left;
        margin: 2px;}*/
}


.social-networks {
        text-align: center;}

.social-networks li {
        display: inline;}

.social-networks i {
        font-size: 120%;
        margin: 1%;
        padding: 3%;
        color: #777777;}


