@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Nanum+Myeongjo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url("hover-min.css");

header {
    margin: 0;}



#main-image {

           height: 500px;
           width:100%;
           background: url("../imgs/IMG_2980.JPG") no-repeat center center;
           animation-name: fade;
           animation-duration: 4s;
           animation-timing-function: fade-out; 
           animation-delay: 6s;
           animation-direction: alternate;
           animation-iteration-count: infinite;
           animation-fill-mode: none;
           animation-play-state: running;
           -moz-transition: all .4s fade-out;
           -webkit-transition: all .4s fade-out;
          
           }


/*
 background: url("../imgs/IMG_1297.JPG");
             background: url("../imgs/IMG_3116.JPG");
            background: url("../imgs/IMG_3658.JPG");
*/


 #main-outer {
     padding: 0;
           height: 500px;
           width:100%;
           overflow: hidden;
           position: relative;}

          @keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
          }



h1 {font-family: "cinzel decorative";
color: black;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 7s;
transition-timing-function: ease-in;
animation-fill-mode: both;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

#overlay {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  transition: .7s ease-in;
  opacity:1;
  color: black;
  font-size: 46px;
  padding: 20px;
  float: left;
  height: 400px;
}






h {font-family: "cinzel decorative";
color: black;
margin-left: 3%;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}





h2 {font-family: "cinzel decorative";
color: black;
margin-left: 9%;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

h3 {font-family: "cinzel decorative";
color: black;
margin-left: 3%;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


/* Navbar */

.nav-link {
    background: linear-gradient(rgba(108, 117, 125,1), rgba(248, 249, 250,0.1));
    overflow: hidden;
    list-style-type: none;
    font-family: "nanum myeong";
    font-size: 160%;
    letter-spacing: 3px;
    margin: 0%;
    text-decoration: none;
    float: right;
    width: 100%;
}


.nav-link:hover {
    background-color: white;
    color: #777777;
    width: 100%;
    
}

.nav-link  {
  float: right;
  text-align: center;
  
  text-decoration: none;
  font-size: 17px;
  width: 100%;
 
}

.nav-link:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 1px #e1e1e1, 0 0 0.1px rgba(0, 0, 0, 0) rgba(66, 69, 71,1);
  
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-hollow:hover, .hvr-hollow:focus, .hvr-hollow:active {
  background: none;}



/* Home Heading */


div p {
font-family: "cinzel";
color: black;
font-size: 24px;
text-align: center;
margin-top: 20px;}







/*Home page Gallery Navigation */



.container-fluid{
width: 100%;

}

.col-lg-1 {
font-family: "cinzel";
color: black;
font-size: 24px;
text-align: center;
text-decoration: none;
padding: 20%;
padding-top: 10%;
padding-bottom: 10%;
}


.col-lg-3 {
font-family: "cinzel";
color: black;
font-size: 24px;
text-align: center;
text-decoration: none;
padding: 20%;
padding-top: 10%;
padding-bottom: 10%;
}


.container-fluid2 {
width: 100%;

}

.col-lg-2 {
font-family: "cinzel";
color: black;
font-size: 24px;
text-align: center;
text-decoration: none;
padding-top: 0%;
padding-right: 0%;
padding-bottom: 50%;
padding-left: 40%;
}



h4 {font-family: "cinzel decorative";
color: black;
text-align: center;
animation-name: fadeInUp;
animation-delay: 1s;
animation-duration: 5s;
transition-timing-function: ease-in;
animation-fill-mode: both;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}




/* animation for photos on home page*/



.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 15px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}





/* Old layout for home galleries 

#galleries {
height: 800px;
}

#left-about{
padding-top: 50px;
padding-left: 25%;
width: 50%;
float: left;
}

#right-about{
padding-top: 50px;
padding-right: 25%;
width: 50%;
float: right;
}

#center-about{
padding-top: 5px;
width: 33%;
margin-left: 37%;
margin-top: 10%;
line-height: 20px;
}
*/


/*

#times {
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        overflow: hidden;}

#times div {
        color: #fafafa;
        background-color: rgba(0,0,0, .6);
        width: 100%;
        height: 300px;
        text-align: center;
        margin: 2px;}

*/

footer {height: 100px;}

.social-networks {
        text-align: center;}

.social-networks li {
        display: inline;}

.social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 3%;
        color: #777777;}


